.grid-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--on-border-primary);
  background-color: var(--bg-base-primary);
  border-radius: 8px;
  box-shadow: var(--shadow-raised);
  padding: 4px;
}

.grid-item-content {
  min-width: 0;
  width: 100%;
  height: 100%;
}

.grid-item-handle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  max-height: 28px;
}