.widget {
  border-radius: 8px;

  &[data-drop-shadow="true"] {
    box-shadow: var(--shadow-small);
  }

  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 8px 16px;
  border-bottom: 1px solid var(--on-border-primary);
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 0 0 auto;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &[data-center-content="true"] {
    justify-content: center;
    align-items: center;
  }
}
