.legendIndicatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.legendIndicatorContainerBase {
  display: flex;
  background-color: var(--bg-base-secondary);
  border-radius: 2px;

  &[data-has-color] {
    background-color: transparent;
  }
}

.legendIndicator {
  position: relative;
  z-index: 0;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: var(--bg-control-secondary);
  border: 1px solid var(--on-border-muted);
}
